style.css
body{
  background: rgb(245,245,245);
  color: green;
  font-size: 25px;
  font-family: monospace;
}	
h1{
  font-family: monospace;
  color: red;
  font-weight: lighter;
  font-size: 10px;
}
h2 {
  font-family: monospace;
  color: blue;
  font-weight: lighter;
  font-size: 10px;
}
a {
  color: lightblue;
}
a:hover {
  text-decoration: none;
  color: purple;
}

#banner{
  text-align: center;
  background-image: url("https://68.media.tumblr.com/8e7d8d2ba397aa2c1c3c20fba9145325/tumblr_nanc5idr1F1tuzl74o1_400.gif");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}
#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
  text-align: center;
}
.card{
  padding: 50px;
  font-weight: lighter;
  text-align: center;

}